.gsc-control-cse.gsc-control-cse-en {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    width: 400px;
    /*width: 50%;*/
    margin: auto;
} 

.cus_google_search_page {
    position: relative;
    bottom: 50px;
}

.cus_google_search_post {
    position: relative;
    bottom: 50px;
}
